.Form{
margin-left:700px ;
margin-bottom: 30px;
margin-top:30px;
}

.container {
    align-items: center;
    justify-content: center;
}
.main-container{
    width: 700px;
    margin-left:20px;
   
}
.verymain-container{
    display: flex;
}
.description{
    margin-left:30px;
    width: 700px;
    /* align-items: right; */
    
}
.title{
    /* padding-left:700px; */
    /* width: 700px; */
    height: 50px;
    margin-bottom:10px ;
    background-color:  rgb(193, 200, 200);
}
.previous{
    background-color: rgb(100,159,208);
    padding-left: 500px;
}