/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  rgb(100,159,208);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-info span {
    font-weight: bold;
  }
  
  .btn-login,
  .btn-logout {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-login {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-login:hover {
    background-color: #218838;
  }
  
  .btn-logout {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-logout:hover {
    background-color: #c82333;
  }


.header{
    display: flex;
    background-color: rgb(100, 159, 208);
    }
    /* .header.census{
    margin-right: 30px;
    } */
     .gov
     {
        width: 100%;
        margin-left:20px;
     }
    .heading
    {
        
        margin-top: 40px;
        margin-left: 250px;
        width: 10000px;
        align-items: center;
        justify-content: center;
    }
    .census{
        right: 20px;
        width: 400px;
    }
    .nav-link{
        
    }