.header{
display: flex;
background-color: rgb(100, 159, 208);
}
/* .header.census{
margin-right: 30px;
} */
 .gov
 {
    width: 100%;
    margin-left:20px;
 }
.heading
{
    
    margin-top: 40px;
    margin-left: 320px;
    width: 10000px;
}
.census{
    right: 20px;
    width: 400px;
}
.nav-link{
    
}