.image{
    /* margin-left:300px; */
    display:flex;
    width: 50px;
}
.links
{
    /* display: flex; */
    /* background-color:  rgb(100, 159, 208); */
    margin-left: 100px;
    margin-top: 80px;
    width: 500px;
    height: 100px;
}
.links button{
    /* margin-left:70px; */
    width: 300px;
    margin-top:50px;
    /* background-color: orange; */
}
